1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
<style>
    .complain-container {
        font-family: "Nunito", sans-serif;
        padding: 1rem;
        margin: 1rem;
    }
</style>
 
{% extends 'base.html' %}
{% load static %}
 
{% block header %} <title>All Registered Complaints</title>
 
{% endblock %}
 
{% block content %}
    <div class="container complain-container">
        <table class="table">
    <thead>
      <tr class="my-3">
        <th>Complain Title</th>
        <th>Submitted By</th>
        <th>View Details</th>
      </tr>
    </thead>
    <tbody>
    {% for each_object in object_list %}
        <tr>
            <td>{{ each_object.title }}</td>
            <td>{{ each_object.created_by }}</td>
            <td><a href="{% url 'complaints:detail_complain' pk=each_object.pk %}">View Details</a></td>
        </tr>
    {% endfor %}
 
    </tbody>
  </table>
    </div>
{% endblock %}