        
        <!-- footer start -->
        <footer class="footer" style="position:relative;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <!-- <img src="img/logo.png" alt=""> -->
                            <h3>Rada Mtaa</h3>
                        </div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.
                        </p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 contact-info">
                        <h4>Contact Info</h4>
                        <div class="row">
                            <div class="col-md-4 text-center icon-left">
                                <a href="#"><i class="fa fa-phone-alt"></i></a>
                            </div>
                            <div class="col-md-8 mt-1">
                                <a href="#">0728318759</a> <br>
                                <a href="#">0728318759</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center icon-left">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                            <div class="col-md-8 mt-3">
                                <a href="malto:info@example.com">info@example.com</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center icon-left">
                                <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                            </div>
                            <div class="col-md-8 mt-3">
                                <a href="#">116, M.D.2 River-side-close, Membley</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="ml-5">Services</h4>
                        <ul class="footer-list">
                            <li><a href="#"><i class="fas fa-chevron-right"></i> Home</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i> Page</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i> Catalog</a></li>
                            <li><a href="#"><i class="fas fa-chevron-right"></i> Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Twitter Feeds</h4>
                        <a class="twitter-timeline" data-height="200" data-theme="dark"
                            data-chrome="nofooter noborders noheader transparent"
                            href="https://twitter.com/moringaschool?ref_src=twsrc%5Etfw">Tweets
                            by moringaschool</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->