{% extends 'base.html'%}

{%block head%}
<style>
    .scroll {
        margin:4px, 4px;
        padding:4px;
        background-color: green;
        height: 110px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align:justify;
    }
</style>
{% endblock %}
{% block content %}
{% load bootstrap5 %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex" style="flex-wrap:wrap !important; justify-content:space-around;">
            {% for mtaa in mitaa %}
            <div class="card d-flex flex-column col-sm-3 mx-1 my-2" style="height:800px;">
                <img src="{{mtaa.mtaapic.url}}" alt="mtaapic" height="400px">
                <h2 class="text-center">Title</h2>
                <h5 class="text-center my-2">{{mtaa.name}}</h5>
                <h6>"Location: {{mtaa.location}}  "</h6>
                <div class="d-flex justify-content-around mt-auto">
                    <p class="mt-auto">
                        <a class="btn mt-auto btn-outline-primary" href="">
                            Join Mtaa
                        </a>
                    </p>
                    <h5><a href="{%url 'addcomment' project.pk %}" class="btn btn-success">Add Comment</a></h5>
                    <form action="{%url 'likeproject' project.id%}" method='POST'>
                        {%csrf_token%}
                        <a href="{% url 'likeproject'id=id%}" type="submit" value="project.id", id="likebutton" name='likeid' class="btn btn-success">
                            <i class="fas fa-thumbs-up">{{project.totallikes}} Likes</i>
                        </a>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>