{% extends 'base.html'%}

{%block head%}
<style>
    .scroll {
        margin:4px, 4px;
        padding:4px;
        background-color: green;
        height: 110px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align:justify;
    }
</style>
{% endblock %}
{% load bootstrap5 %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex" style="flex-wrap:wrap !important; justify-content:space-around;">
            {% for mtaa in mitaa %}
            <div class="card d-flex flex-column col-sm-3 mx-1 my-2" style="height:600px;">
                <img src="{{mtaa.mtaapic.url}}" alt="mtaapic" height="400px">
                <h4 class="text-center my-2">{{mtaa.name}}</h4>
                <h6>Location: {{mtaa.location}} </h6>
                <h6>Posted By: {{mtaa.user}} </h6>
                <h6>Posted On: {{mtaa.pub_date}} </h6>
                <div class="d-flex justify-content-around mt-auto">
                    <p class="mt-auto">
                        <a class="btn mt-auto btn-outline-primary" href="">
                            Join Mtaa
                        </a>
                    </p>
                    <!-- <h5><a href="" class="btn btn-success">Add Comment</a></h5> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}